
<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sassani Alvarez</mat-card-title>
      <mat-card-subtitle>Iniciar Sesión</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-container" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput
             placeholder="Usuario"
             name="username"
             formControlName="user">
        </mat-form-field>

        <div
          class="error"
          *ngIf="loginForm.get('user').hasError('required') && loginForm.get('user').touched">
          Usuario requerido
        </div>

        <mat-form-field>
          <input matInput
            placeholder="Contraseña"
            type="password"
            name="password"
            formControlName="pass">
        </mat-form-field>

        <div
          class="error"
          *ngIf="loginForm.get('pass').hasError('required') && loginForm.get('pass').touched">
          Contraseña requerida
        </div>

        <div *ngIf="isLoading" class="spinner">
          <mat-progress-spinner 
            color="primary" 
            mode="indeterminate"
            [diameter]="40">
          </mat-progress-spinner>
        </div> 

        <button mat-raised-button
          color="accent"
          type="submit"
          [disabled]="loginForm.invalid">Ingresar</button>        
      </form>
      <div class="main-container">
        <label class="lbl-reset">Olvido su contraseña?</label>
        <button mat-raised-button 
          class="btn-reset"
          [routerLink]="['/resetpassmail']">Click aquí para recuperar</button>
      </div>
    </mat-card-content>
  </mat-card>
  