<div id="LoginForm">
  <div class="container">   
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Sassani Alvarez</h2>
          <p>Iniciar Sesión</p>
        </div>
        <form id="Login" [formGroup]="loginForm" (ngSubmit)="login()">    
          <div class="form-group" [ngClass]="{'border border-danger': !loginForm.get('user').valid && loginForm.get('user').touched}">    
            <input type=text class="form-control" id="inputEmail" placeholder="Usuario"
            name="username"
            formControlName="user">    
          </div>   
          <div class="form-group text-danger"
            *ngIf="loginForm.get('user').hasError('required') && loginForm.get('user').touched">
            Usuario requerido
          </div>   
          <div class="form-group" [ngClass]="{'border border-danger': !loginForm.get('pass').valid && loginForm.get('pass').touched}">    
            <input class="form-control" id="inputPassword"placeholder="Contraseña"
              type="password"
              name="password"
              formControlName="pass">    
          </div>
          <div class="form-group text-danger"
            *ngIf="loginForm.get('pass').hasError('required') && loginForm.get('pass').touched">
            Contraseña requerida
          </div>
          <div class="forgot">
            <a  tabindex="-1" [routerLink]="['/forgot-password']">Olvido su contraseña?</a>
          </div>
          
          <div *ngIf="isLoading" class="form-group d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          
          <button type="submit" 
            class="btn btn-primary"            
            [disabled]="loginForm.invalid">Ingresar</button>   

        </form>

        <div *ngIf="!loginOk"
          class="main-container alert alert-danger" role="alert">
          Usuario o contraseña inválidos
        </div>        
       
      </div>    
    </div>   
    
  </div>  
  
</div>