<div id="LoginForm">
  <div class="container">   
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Sassani Alvarez</h2>
          <p>Recuperar contraseña</p>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="forgotPassword()">    
          <div class="form-group" [ngClass]="{'border border-danger': !resetForm.get('email').valid && resetForm.get('email').touched}">    
            <input class="form-control" 
            placeholder="Correo electrónico"
            type="email"
            name="email"
            formControlName="email"  ng-keypress="resetError()">    
          </div>   
          <div class="form-group text-danger"
          *ngIf="(resetForm.get('email').hasError('required') && resetForm.get('email').touched) || (resetForm.get('email').hasError('pattern') && resetForm.get('email').touched) ">
            Correo electrónico inválido
          </div>             
          
          <div *ngIf="isLoading" class="form-group d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <button type="submit" 
            class="btn btn-primary"
            type="submit"
          [disabled]="resetForm.invalid">Recuperar contraseña</button>

        </form>

        <div *ngIf="mailNotOk"
          class="main-container alert alert-danger" role="alert">
          Se ha producido un error al enviar el correo.
        </div>

        <div *ngIf="mailOk"
          class="main-container alert alert-success" role="alert">
          Se ha enviado un correo electrónico a su casilla.
        </div>
        
      </div>      
    </div>   
    
  </div>  
</div>












<!-- <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sassani Alvarez</mat-card-title>
      <mat-card-subtitle>Recuperar contraseña</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="login-container" [formGroup]="resetForm" (ngSubmit)="reset()">
        <mat-form-field>
          <input matInput
            placeholder="Correo electrónico"
            type="email"
            name="email"
            formControlName="email">
        </mat-form-field>
  
        <div
          class="error"
          *ngIf="(resetForm.get('email').hasError('required') && resetForm.get('email').touched) || (resetForm.get('email').hasError('pattern') && resetForm.get('email').touched) ">
          Correo inválido
        </div>
  
        <div *ngIf="isLoading" class="spinner">
          <mat-progress-spinner 
            color="primary" 
            mode="indeterminate"
            [diameter]="40">
          </mat-progress-spinner>
        </div> 
  
        <button mat-raised-button
          color="accent"
          type="submit"
          [disabled]="resetForm.invalid">Recuperar contraseña</button>        
      </form>
    </mat-card-content>
  </mat-card> -->

  