<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
    <div *ngIf="loading">
        <mat-spinner style="margin: 20px auto; "></mat-spinner>
    </div>
    <div *ngIf="!loading">
        <h1 *ngIf="actionString === 'create'">Nuevo Movimiento.</h1>
        <h1 *ngIf="actionString === 'update'">Editar Movimiento {{resource.concept}}.</h1>
        <div>

            <form name="form" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                
                <!-- mov type  -->
                <mat-form-field appearance="outline" class="w-30-p mr-8">
                    <mat-label>Tipo movimiento</mat-label>
                    <mat-select placeholder="Tipo movimiento" formControlName="movement_type_id">
                        <mat-option *ngFor="let id of mov_type" [value]="id.value">
                            {{id.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('movement_type_id').hasError('required') && form.get('movement_type_id').touched">
                        Tipo de movimiento requerido
                    </mat-error>
                </mat-form-field>
                
                <!--date-->
                <mat-form-field appearance="outline"  class="w-30-p" fxLayoutAlign="rigth">
                    <mat-label> Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="datetime">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

               <!-- client  -->
               <mat-form-field appearance="outline" >
                    <mat-label>Cliente</mat-label>
                    <mat-select placeholder="Cliente" formControlName="client_id">
                        <mat-option *ngFor="let id of client" [value]="id.value">
                            {{id.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- mov category  -->
                <mat-form-field appearance="outline">
                    <mat-label>Rubro</mat-label>
                    <mat-select placeholder="Rubro" formControlName="movement_category_id">
                        <mat-option *ngFor="let id of movCategory" [value]="id.value">
                            {{id.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- office  -->
                <!-- <mat-form-field appearance="outline" >
                    <mat-label>Caja</mat-label>
                    <mat-select placeholder="Caja" formControlName="movement_type_id">
                        <mat-option *ngFor="let id of office" [value]="id.value">
                            {{id.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

               

                <!--amount-->
                <mat-form-field appearance="outline" class="w-30-p">
                    <mat-label>Monto</mat-label>
                    <input matInput formControlName="amount">
                    <mat-error *ngIf="form.get('amount').hasError('required') && form.get('amount').touched">
                        Monto requerido
                    </mat-error>
                </mat-form-field>
                
                            
                <!-- concept -->
                <mat-form-field appearance="outline">
                    <mat-label>Concepto</mat-label>
                    <textarea matInput formControlName="concept"></textarea>
                    <mat-error *ngIf="form.get('concept').hasError('required') && form.get('concept').touched">
                        Concepto requerido
                    </mat-error>
                </mat-form-field>


                <button mat-raised-button color="accent"
                 class="submit-button m-4" aria-label="LOG IN"
                        [disabled]="form.invalid">
                    Guardar
                </button>
                <button mat-raised-button color="primary"
                 class="submit-button m-4" aria-label="LOG IN"
                 [routerLink]="['/movements/list']" >
                    Cancelar
                </button>
            </form>
        </div>
    </div>

</div>
