<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div style="background-color: white;" id="forgot-password-form"
             [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title">Correo Enviado!</div>
            <div class="text-center">
                Hemos enviado instrucciones a tu Correo electronico para
                reinicializar la contraseña de tu cuenta.
            </div>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Volver a Login</a>
            </div>

        </div>

    </div>

</div>
