@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

.main-container{
  margin-top: 15px;
  padding: 5px;
}

.red-snackbar{
  background: #F44336;
}

.bg-success {
  background-color: #26c6da;
}

