@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  margin: 0;
 
}

.main-container{
  margin-top: 15px;
  padding: 5px;
}

.red-snackbar{
  background: #F44336;
}

.green-snackbar{
  background: green;
}

.bg-success {
  background-color: #26c6da;
}

.dataTables_empty {
  display: none;
}