<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
  <h1>Rubros de caja</h1>
  <div *ngIf="!loaded">
      cargando....
  </div>
  <div [hidden]="!loaded" class="design">
  
      <table datatable [dtOptions]="dtOptions" class="row-border hover design">
        <thead>
        <tr>
            <!-- <th class="w5">ID</th> -->
            <th>Nombre</th>    
            <th class="w5">Acciones</th>        
        </tr>
        </thead>
        <tbody *ngIf="tableData?.length != 0">
        <tr *ngFor="let row of tableData">
            <!-- <td>{{row.id}}</td> -->
            <td>{{row.movement_category_name}}</td>            
            <td>
                <ng-container matColumnDef="actions">
                    <div class="clickeable">
                        <!-- edit -->
                        <mat-icon matSuffix class="secondary-text" color="primary"
                                  [routerLink]="['/movements-categories/update', row.id]">edit
                        </mat-icon>

                        <!-- delete -->
                        <mat-icon matSuffix class="secondary-text" color="warn"
                                  (click)="openDeleteDialog(row)">delete
                        </mat-icon>
                    </div>
                </ng-container>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="tableData?.length == 0">
        <tr>
            <td colspan="3" class="no-data-available"> No se encontraron Registros.</td>
        </tr>
        <tbody>
    </table>
  </div>
</div>