<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
  <h1>Rubros de caja</h1>
  <div *ngIf="!loaded">
      cargando....
  </div>
  <div *ngIf="loaded">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

              <!-- name Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                  <td mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
                      
                      <div class="clickeable">
                          <mat-icon matSuffix class="secondary-text" color="primary"
                          [routerLink]="['/movements-categories/update', row.id]">edit</mat-icon>
                          <mat-icon matSuffix class="secondary-text clickeable" color="warn"
                           (click)="openDeleteDialog(i, row)">delete</mat-icon>
                      </div>
                      
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;">
              </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </div>
</div>