<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="title">Bienvenido, cambiar_por_nombre</div>

    <div class="dashboard-cards-content">
        <mat-card class="widget-card-dashboard">
            <mat-card-title> Clientes</mat-card-title>
            <mat-card-content>
                <ul>
                    <li> Listado de clientes</li>
                    <li> Nuevo Cliente</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard">
            <mat-card-title> Caja</mat-card-title>
            <mat-card-content>
                <ul>
                    <li> Listado de Movimientos</li>
                    <li> Nuevo Movimiento</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard">
            <mat-card-title> Operadores</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <a class="link" [routerLink]="['/users/list']">Listado de Operadores</a>
                    </li>
                    <li> Nuevo Operador</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard">
            <mat-card-title> Turnos</mat-card-title>
            <mat-card-content>
                <ul>
                    <li> Nuevo Turno</li>
                </ul>
            </mat-card-content>
        </mat-card>

    </div>
</div>
