<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="title">Bienvenido, {{username}}</div>

    <div class="dashboard-cards-content">
        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Clientes</mat-card-title>
            <mat-card-content>
                <ul>
                    <li> 
                        <a class="link" [routerLink]="['/clients/list']">Listado de clientes</a>
                    </li>
                    <li> 
                        <a class="link" [routerLink]="['/clients/create']">Nuevo cliente</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Caja</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                    <a class="link" [routerLink]="['/movements/list']">Listado de movimientos</a>
                    </li>
                    <li>                         
                    <a class="link" [routerLink]="['/movements/create']">Nuevo movimiento</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Rubros de caja</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <a class="link" [routerLink]="['/movements-categories/list']">Listado de rubros</a>
                    </li>
                    <li> 
                        <a class="link" [routerLink]="['/movements-categories/create']">Nuevo rubro</a>
                     </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Operadores</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <a class="link" [routerLink]="['/users/list']">Listado de Operadores</a>
                    </li>
                    <li> 
                        <a class="link" [routerLink]="['/users/create']">Nuevo operador</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Turnos</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <!-- Nuevo turno -->
                    <a class="link" [routerLink]="['/calendar']">Calendario</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Trámites</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <a class="link" [routerLink]="['/procedures/list']">Listado de Trámites</a>
                    </li>
                    <li> 
                        <a class="link" [routerLink]="['/procedure/create']">Nuevo trámite</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="widget-card-dashboard" style="background-color:wheat;">
            <mat-card-title> Trámites (Categorías)</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <a class="link" [routerLink]="['/procedure-categories/list']">Listado de categorias de trámites</a>
                    </li>
                    <li> 
                        <a class="link" [routerLink]="['/procedure-categories/create']">Nueva categoría de trámite</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>


    </div>
</div>
