<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div style="background-color: white;" id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title">Cambiar Contraseña</div>
            <form name="changePasswordForm" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña actual</mat-label>
                    <input type="password" matInput formControlName="current_password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('current_password').hasError('required') && changePasswordForm.get('current_password').touched">
                        Contraseña actual Requerida
                    </mat-error>

                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input type="password" matInput formControlName="new_password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched">
                        Nueva Contraseña Requerida
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('new_password').hasError('minlength') && changePasswordForm.get('new_password').touched">
                        Mínimo 5 caracteres
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input type="password" matInput formControlName="new_password_confirmation">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('new_password_confirmation').hasError('required') && changePasswordForm.get('new_password_confirmation').touched">
                        Confirmacion Contraseña Requerida
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('new_password_confirmation').hasError('notMatch') && changePasswordForm.get('new_password_confirmation').touched">
                        Nueva Contraseña y Confirmacion Contraseña deben coincidir.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="changePasswordForm.invalid">
                    CAMBIAR CONTRASEÑA
                </button>
            </form>

            <p *ngIf="invalidCurrentPass" class="w-100-p" style="color:red">
                Contraseña actual incorrecta.
            </p>

            <p *ngIf="sameOldPassword" class="w-100-p" style="color:red">
                La contraseña actual y la nueva contraseña no pueden ser iguales.
            </p>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/dashboard'">Volver</a>
            </div>

        </div>

    </div>

</div>
