table {
  width: 100%;
}
.table-container {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//.mat-table-custom td, th {
//  width: 25%;
//}

.clearfix {

}

.w15 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w5 {
  width: 5%;
}