<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div style="background-color: white;" id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="title">Resetear Contraseña</div>
            <form name="resetPasswordForm" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Nueva Contraseña</mat-label>
                    <input type="password" matInput formControlName="new_password">
                    <mat-icon matSuffix class="secondary-text">Contraseña</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('new_password').hasError('required')">
                        Nueva Contraseña Requerida
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input type="password" matInput formControlName="new_password_confirmation">
                    <mat-icon matSuffix class="secondary-text">Contraseña</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('new_password_confirmation').hasError('required')">
                        Confirmacion Contraseña Requerida
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('new_password_confirmation').hasError('notMatch')">
                        Nueva Contraseña y Confirmacion Contraseña deben coincidir.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="resetPasswordForm.invalid">
                    CAMBIAR CONTRASEÑA
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Volver a Login</a>
            </div>

        </div>

    </div>

</div>
