<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
    <div *ngIf="loading">
        <mat-spinner style="margin: 20px auto; "></mat-spinner>
    </div>
    <div *ngIf="!loading">
        <h1 *ngIf="actionString === 'create'">Nuevo Trámite.</h1>
        <h1 *ngIf="actionString === 'update'">Editar Trámite {{resource.concept}}.</h1>
        <div>

            <form name="form" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                <!-- client  -->
                <div>
                    <ng-select class="custom"
                        [items]="people3$ | async"
                        bindLabel="text"
                        placeholder="Cliente"
                        [addTag]="false"
                        [multiple]="false"
                        [hideSelected]="true"
                        [loading]="people3Loading"
                        [typeahead]="people3input$"                              
                        formControlName="client_id"                        
                        >                
                    </ng-select>
                    <mat-error *ngIf="form.get('client_id').hasError('required') && form.get('client_id').touched">
                        Debe seleccionar un cliente
                    </mat-error>
                </div>
                    
                 
                 <!-- procedure category  -->
                 <div>
                    <ng-select class="custom"
                        [items]="procedureCat | async"
                        bindLabel="text"
                        placeholder="Trámite:"
                        [addTag]="false"
                        [multiple]="false"
                        [hideSelected]="true"
                        [loading]="procedureCatLoading"
                        [typeahead]="procedureCatInput"                              
                        formControlName="procedure_category_id"                    
                        required>     
                        <mat-error *ngIf="form.get('procedure_category_id').hasError('required') && form.get('procedure_category_id').touched">
                            Debe seleccionar un tipo de trámite
                        </mat-error>        
                    </ng-select>
                </div>
                     
                
               
                <mat-form-field appearance="outline" fxLayoutAlign="rigth"  class="w-50-p" >
                    <mat-label> Inicio demanda</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="inicio_demanda">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline"  class="w-45-p mr-16">
                    <mat-label>Sentencia primera instancia</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="sentencia_primera_instancia">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline"  class="w-45-p" >
                    <mat-label>Sentencia segunda instancia</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="sentencia_segunda_instancia">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline"  class="w-45-p mr-16">
                    <mat-label>Sentencia Corte Suprema</mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="sentencia_corte_suprema">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4 disabled="false"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline"  class="w-45-p">
                    <mat-label>Inicio de ejecución</mat-label>
                    <input matInput [matDatepicker]="picker5" formControlName="inicio_de_ejecucion">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5 disabled="false"></mat-datepicker>
                </mat-form-field>

                
                            
                <!-- concept -->
                <mat-form-field appearance="outline">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="observaciones"></textarea>                   
                </mat-form-field>


                <button mat-raised-button color="accent"
                 class="submit-button m-4" aria-label="LOG IN"
                        [disabled]="form.invalid">
                    Guardar
                </button>
                <button mat-raised-button color="primary"
                 class="submit-button m-4" aria-label="LOG IN"
                 [routerLink]="['/procedures/list']" >
                    Cancelar
                </button>
            </form>
        </div>
    </div>

</div>
