
<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
    <h1>Listado de Clientes</h1>
    <div *ngIf="!loaded">
        cargando....
    </div>
    <div *ngIf="loaded">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- lastName Column -->
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="identification_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                    <td mat-cell *matCellDef="let row"> {{row.identification_number}} </td>
                </ng-container>
                
                
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
                    <td mat-cell *matCellDef="let row"> {{row.city}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>




                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.color">
                        <div class="clickeable">
                            <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                            <mat-icon matSuffix class="secondary-text" (click)="delete(row.id)">delete</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>