
<div id="user-list" class="page-layout blank p-24" fusePerfectScrollbar>
    <h1>Listado de Clientes</h1>
    <div *ngIf="!loaded">
        cargando....
    </div>
    <div [hidden]="!loaded" #TABLE>
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center" >
            <button mat-raised-button color="accent" class="mr-8"
                class="submit-button m-4" (click)="exportAsXLSX()">
                Exportar vista a Excel
            </button>   
            <button mat-raised-button color="accent" 
                class="submit-button m-4" (click)="exportFullListAsXLSX()">
                Exportar listado completo a Excel
            </button>       
        </div>

        <table datatable [dtOptions]="dtOptions" class="row-border hover" #table>
            <thead>
            <tr>
                <th class="w20">Apellido</th>
                <th class="w20">Nombre</th>
                <th class="w15">DNI</th>
                <th class="w15">Ciudad</th>
                <th class="w15">Saldo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody *ngIf="tableData?.length != 0">
            <tr *ngFor="let row of tableData">
                <td>{{row.last_name}}</td>
                <td>{{row.first_name}}</td>
                <td>{{row.identification_number}}</td>
                <td>{{row.city}}</td>
                <td>{{row.balance}}</td>                
                <td>
                    <ng-container matColumnDef="actions">
                        <div class="clickeable">

                            <!-- activate/deactivate -->
                            <mat-icon matSuffix class="secondary-text"
                            style="color:green;" *ngIf="row.active === 1"
                            (click)="deactivate(row.id, i)">check_circle</mat-icon>
                            <mat-icon matSuffix class="secondary-text"
                            color="warn" *ngIf="row.active === 0"
                            (click)="activate(row.id, i)">highlight_off</mat-icon>
    
                            <!-- edit -->
                            <mat-icon matSuffix class="secondary-text" color="primary"
                                      [routerLink]="['/movements/update', row.id]">edit
                            </mat-icon>

                            <!-- delete -->
                            <mat-icon matSuffix class="secondary-text" color="warn"
                                      (click)="openDeleteDialog(row)">delete
                            </mat-icon>
                        </div>
                    </ng-container>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="tableData?.length == 0">
            <tr>
                <td colspan="3" class="no-data-available"> No se encontraron Registros.</td>
            </tr>
            <tbody>
        </table>
    </div>
</div>